
@font-face {
  font-family: 'Whitrabt';
  src: url('./assets/fonts/whitrabt.woff') format('truetype');
}

body {
  margin: 0;
  font-family: Whitrabt,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #121212;
  color: #03d51b;

}

.caret {
  font-size: 2rem;
  /*font-weight: bolder;*/
  font-weight: 700;
  animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
}

h2 {
  color: #20c20e;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
}

.matrix-input {
  background-color: #121212;
  border: 2px solid rgba(41, 61, 0, 0.77);
  color: #20c20e;
  font-size: 1.5rem;
  padding: 10px 30px;
  width: 200px;
  outline: none;
  font-family: inherit;
  caret-color: transparent;
}
.matrix-input:focus {
  background-color: rgba(41, 61, 0, 0.4);
}

.matrix-button {
  background-color: #121212;
  border: none;
  color: #20c20e;
  font-family: inherit;
  font-size: 1.5rem;
  cursor:pointer;
  padding: 10px 0;
}
.matrix-button:hover {
  background-color: rgba(41, 61, 0, 0.4);
}

.error-message {
  margin-top: 1rem;
  height: 1rem;
  font-size: 1.5rem;
}

.post-item {
  border: 2px solid rgba(32, 194, 14, 0.38);
  border-radius: 5px;
  padding: 20px;
}

.modal {
  backdrop-filter: blur(3px);
  background-color: rgba(18, 18, 18, 0.3);
}
.modal-content {
  background-color: #121212;
  border: 2px solid rgba(41, 61, 0, 0.77);
  color: #20c20e;
  border-radius: 0;
}

.form-control {
  background-color: #121212;
  border: 2px solid rgba(41, 61, 0, 0.77);
  color: #20c20e;
  resize: none;
  font-size: 1.5rem;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  background-color: rgba(41, 61, 0, 0.4);
  border-color: rgba(41, 61, 0, 0.77);
  color: #20c20e;

}

.form-control::placeholder {
  color: rgba(32, 194, 14, 0.32);
}